.postsBlock {
    margin: auto;
    padding: 20px 0px;
    width: 35vw;
    border-radius: 10px;
    .sort {
        display: flex;
        align-items: center;
        gap:20px;
        margin-bottom: 20px;

        .sortList {
            display: flex;
            gap: 20px;
            list-style: none;

            li {
                padding: 5px 10px;
                border-radius: 10px;
                background: white;
                border: 2px solid black;
                cursor: pointer;
                &.active{
                    color: white;
                    background-color: black;

                }
            }
        }
        button{
            cursor: pointer;
            padding: 6px 10px;
            background: white;
            border: 2px solid black;
            &.active{
                color: white;
                background-color: black;
                border: 1px solid #939393;

            }
            outline: none;
        }
        input{
            color: white;
            padding: 8px 10px;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #939393;
            outline: none;
        }
    }

    .postsList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        .item{
            position: relative;
            .space{
                margin-bottom: 40px;
            }
            .userName{
                position: absolute;
                transform: translateX(calc(-100% - 10px));
                left:0;
                font-size: 16px;
                color: white;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}